*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a[href^="http"], a[href^="http"]:visited {
  color: #1a0dab;
}

a:disabled {
  cursor: default;
  pointer-events: none;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

button:disabled {
  color: #444444;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

hr {
  background: #bbbbbb;
  border: none;
  height: 0.1rem;
}

main {
  opacity: 100%;
  transition: opacity 150ms ease-out;
}

main.htmx-request {
  opacity: 70%;
  transition: opacity 150ms ease-out;
}

ol {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#content {
  min-height: 100vh;
  width: 425px;
}

@media (width < 425px) {
  #content {
    width: 100vw;
  }
}

#content.htmx-request main {
  opacity: 30%;
  transition: opacity 150ms ease-out;
}

#content.htmx-swapping main {
  opacity: 0%;
  transition: opacity 150ms ease-out;
}

#footer a, #footer a:visited {
  color: #666666;
}

#refresh-icon {
  display: none;
  opacity: 0%;
}

#refresh-icon.clickable {
  display: flex;
  opacity: 100%;
  transition: opacity 200ms ease-out;
}

#refresh-icon.htmx-request {
  animation: 2s linear 0s infinite normal forwards running rotating;
  display: flex;
  opacity: 100%;
  transition: opacity 200ms ease-out;
}

#refresh-icon.htmx-request {
  animation: 2s linear 0s infinite normal forwards running rotating;
  display: flex;
  opacity: 100%;
  transition: opacity 200ms ease-out;
}

#status {
  font-size: 0.8em;
  margin-left: auto;
  opacity: 100%;
  transition: opacity 1s ease-out;
  transition-behavior: allow-discrete;
  @starting-style {
    opacity: 0%;
  }
}

.align-items-center {align-items: center}
.align-self-center {align-self: center}
.align-self-flex-start {align-self: flex-start}
.background-003da5 {background: #003da5}
.background-00843d {background: #00843d}
.background-008eaa {background: #008eaa}
.background-7c878e {background: #7c878e}
.background-80276c {background: #80276c}
.background-da291c {background: #da291c}
.background-e6ecf6 {background: #e6ecf6}
.background-e6f3ec {background: #e6f3ec}
.background-e6f4f7 {background: #e6f4f7}
.background-ed8b00 {background: #ed8b00}
.background-f2e9f0 {background: #f2e9f0}
.background-f2f3f4 {background: #f2f3f4}
.background-f9f9f9 {background: #f9f9f9}
.background-fbeae8 {background: #fbeae8}
.background-fdf3e6 {background: #fdf3e6}
.background-ffc72c {background: #ffc72c}
.background-ffcccb {background: #ffcccb}
.background-fff7bf {background: #fff7bf}
.background-fff9ea {background: #fff9ea}
.background-ffffff {background: #ffffff}
.border-color-000000 {border-color: #000000}
.border-color-004ce1 {border-color: #004ce1}
.border-color-dd0033 {border-color: #dd0033}
.border-radius-p3rem {border-radius: 0.3rem}
.border-radius-l {border-radius: 0.5rem}
.border-style-solid {border-style: solid}
.border-width-1-0 {border-width: 1px 0px}
.border-width-1px {border-width: 1px}
.box-shadow-0-0-4-0-cccccc {box-shadow: 0 0 4px 0 #cccccc}
.color-000000 {color: #000000}
.color-444444 {color: #444444}
.color-666666 {color: #666666}
.color-dd0033 {color: #dd0033}
.color-ffffff {color: #ffffff}
.connecting-routes-lparen {margin-right: -0.2rem}
.connecting-routes-rparen {margin-left: -0.2rem}
.cursor-pointer {cursor: pointer}
.display-flex {display: flex}
.flex-direction-column {flex-direction: column}
.flex-grow-1 {flex-grow: 1}
.flex-shrink-0 {flex-shrink: 0}
.flex-wrap-wrap {flex-wrap: wrap}
.font-size-1p1rem {font-size: 1.1rem}
.font-size-1p2rem {font-size: 1.2rem}
.font-size-p6rem {font-size: 0.6rem}
.font-size-p7rem {font-size: 0.7rem}
.font-size-p8rem {font-size: 0.8rem}
.font-size-p9rem {font-size: 0.9rem}
.font-weight-500 {font-weight: 500}
.font-weight-600 {font-weight: 600}
.font-weight-700 {font-weight: 700}
.font-weight-900 {font-weight: 900}
.gap-l {gap: 0.5rem}
.gap-m {gap: 0.35rem}
.gap-s {gap: 0.25rem}
.gap-xs {gap: 0.15rem}
.height-1em {height: 1em}
.height-2em {height: 2em}
.height-fill {height: 100%}
.id-rs-rp-section.expanded .rs-best-trip {opacity: 0%; display: none}
.id-rs-rp-section.expanded .rs-route-pattern-extra {display: flex; opacity: 100%; transform: translate(0); @starting-style {opacity: 0%; transform: translate(0rem, -1rem)}}
.justify-content-center {justify-content: center}
.justify-content-right {justify-content: right}
.justify-content-space-between {justify-content: space-between}
.margin-0-m-m-m {margin: 0 0.35rem 0.35rem 0.35rem}
.margin-0-nm {margin: 0 -0.35rem}
.margin-bottom-m {margin-bottom: 0.35rem}
.margin-l-0 {margin: 0.5rem 0}
.margin-m {margin: 0.35rem}
.margin-m-0 {margin: 0.35rem 0rem}
.margin-m-0-m-m {margin: 0.35rem 0 0.35rem 0.35rem}
.margin-m-m-m-0 {margin: 0.35rem 0.35rem 0.35rem 0}
.margin-right-m {margin-right: 0.35rem}
.margin-xxl-l {margin: 1.8rem 0.5rem}
.padding-0-xl {padding: 0 0.85rem}
.padding-l {padding: 0.5rem}
.padding-l-xl-xl-xl {padding: 0.5rem 0.85rem 0.85rem 0.85rem}
.padding-m {padding: 0.35rem}
.padding-s-0 {padding: 0.25rem 0}
.padding-xl {padding: 0.85rem}
.padding-xl-xl-l-xl {padding: 0.85rem 0.85rem 0.5rem 0.85rem}
.padding-xs {padding: 0.15rem}
.position-sticky {position: sticky}
.rs-best-trip {opacity: 100%; transition: display 60ms, opacity 60ms; transition-behavior: allow-discrete}
.rs-route-pattern-extra {display: none; opacity: 0%; transform: translate(0rem, -1rem); transition: display 60ms, opacity 60ms, transform 60ms; transition-behavior: allow-discrete}
.rs-trip-section .trip {border-color: #004ce1}
.rs-trip-section {text-decoration: none}
.t-connect {border-radius: 0.3rem; font-size: 0.7em; min-width: 3ch; padding: 0.1rem; text-align: center}
.t-map {aspect-ratio: 1 / 1; height: auto; width: 100%}
.text-align-center {text-align: center}
.text-decoration-none {text-decoration: none}
.top-0 {top: 0}
.width-1em {width: 1em}
.width-2em {width: 2em}
.width-2p2em {width: 2.2em; }
.width-fill {width: 100%}
.z-index-999 {z-index: 999}
@keyframes rotating {0% {transform: rotate(0deg)} 100% {transform: rotate(360deg)}}
